[h: data="{}"]
{%- for k,v in macro.data %}
[h: data = json.set(data, {{k}}, {{v|json2mt}})]
{%- endfor %}
<!-- without args, show a description, pass any args to silence me -->
[r,if(macro.args==""), code: {
[macro("LibInfo@Lib:ep"):data]
};{}]
[h: macro.return=data]
