<!-- attributes-->
[h: attributes = "wound_th,durability,insight,moxie,vigor,flex"]
[h: sleeve = "{}"]
[h,foreach(attr, attributes, "", ","), code: {
	[h: json.set(sleeve, attr,{getProperty(attr)})]
}]
[h: macro.return=sleeve]
