<!-- define UDF, these are accessible suing the direct function call syntax instead of the tedious macro
calling syntax -->
{%- for macro in functions %}
[h: defineFunction("ep.{{macro.label}}", "{{macro.label}}@Lib:ep", {{macro.discardOutput}})]
{%- endfor %}
